{% extends "::base.html.twig"  %}
{% block title %}Strona Główna{% endblock %}
{% block body %}
   

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <img class="img-fluid" src="image/profile.png" alt="">
        <div class="intro-text">
          <span class="name">Przychodnia Twoich marzeń</span>
        
        </div>
      </div>
    </header>


{% endblock %}